* {
  box-sizing: border-box;
}

:root {
  --main-bg-color: blue;
  --card-chip: url("https://usa.visa.com/dam/VCOM/regional/na/us/pay-with-visa/images/card-chip-800x450.png")
    /* --card-chip: url("/card-chip.png") */
}

html { font-size: 62.5%; }

body {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-container {
  background-color: var(--main-bg-color);
  perspective: 1000px; /* Adds 3D effect */
  min-width:40rem;
  height:25rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

/* This container is needed to position the front and back side */
.card-container-inner {
  background-color: red;
  border-radius: 0.5rem;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: left;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.card-container:hover .card-container-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* credit card chip style */
.card-chip {
  position: absolute;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  top: 1rem;
  left: -1.6rem;
  z-index: 100;
  background: var(--card-chip);
  background-repeat:no-repeat;
  background-size:contain;
  border-radius: 0.5rem;
  width: 12rem;
  height: 10rem;
}

.card-details {
    display: flex;
    justify-content: space-between;
    padding: 0px 2rem;
    background: blue;
    bottom: 0px;
    width: 100%;
    height: 7rem;
    border-radius: 0.5rem;
    position: absolute;
}